/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1699236284900');
	src: url('iconfont.eot?#iefix-1699236284900') format('embedded-opentype'),
		url('iconfont.woff2?1699236284900') format('woff2'),
		url('iconfont.woff?1699236284900') format('woff'),
		url('iconfont.ttf?1699236284900') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-access_time:before {
			content: '\ea01';
		}

		 .iconfont-bar_chart:before {
			content: '\ea02';
		}

		 .iconfont-bolt:before {
			content: '\ea03';
		}

		 .iconfont-bookmark:before {
			content: '\ea04';
		}

		 .iconfont-briefcase:before {
			content: '\ea05';
		}

		 .iconfont-business:before {
			content: '\ea06';
		}

		 .iconfont-cancel:before {
			content: '\ea07';
		}

		 .iconfont-close:before {
			content: '\ea08';
		}

		 .iconfont-code:before {
			content: '\ea09';
		}

		 .iconfont-currency_exchange:before {
			content: '\ea0a';
		}

		 .iconfont-diversity_1:before {
			content: '\ea0b';
		}

		 .iconfont-download:before {
			content: '\ea0c';
		}

		 .iconfont-edit:before {
			content: '\ea0d';
		}

		 .iconfont-edit_calendar:before {
			content: '\ea0e';
		}

		 .iconfont-filter_alt:before {
			content: '\ea0f';
		}

		 .iconfont-filter_alt_off:before {
			content: '\ea10';
		}

		 .iconfont-gpp_good:before {
			content: '\ea11';
		}

		 .iconfont-group_add:before {
			content: '\ea12';
		}

		 .iconfont-lang:before {
			content: '\ea13';
		}

		 .iconfont-loan:before {
			content: '\ea14';
		}

		 .iconfont-local_atm:before {
			content: '\ea15';
		}

		 .iconfont-location:before {
			content: '\ea16';
		}

		 .iconfont-Lock:before {
			content: '\ea17';
		}

		 .iconfont-menu:before {
			content: '\ea18';
		}

		 .iconfont-Message:before {
			content: '\ea19';
		}

		 .iconfont-moving:before {
			content: '\ea1a';
		}

		 .iconfont-next:before {
			content: '\ea1b';
		}

		 .iconfont-not_listed_location:before {
			content: '\ea1c';
		}

		 .iconfont-office:before {
			content: '\ea1d';
		}

		 .iconfont-paid:before {
			content: '\ea1e';
		}

		 .iconfont-phone:before {
			content: '\ea1f';
		}

		 .iconfont-plus:before {
			content: '\ea20';
		}

		 .iconfont-prev:before {
			content: '\ea21';
		}

		 .iconfont-right:before {
			content: '\ea22';
		}

		 .iconfont-search:before {
			content: '\ea23';
		}

		 .iconfont-share:before {
			content: '\ea24';
		}

		 .iconfont-signpost:before {
			content: '\ea25';
		}

		 .iconfont-support_agent:before {
			content: '\ea26';
		}

		 .iconfont-travel_explore:before {
			content: '\ea27';
		}

		 .iconfont-user:before {
			content: '\ea28';
		}

		 .iconfont-visibility_off:before {
			content: '\ea29';
		}

		 .iconfont-visibility_on:before {
			content: '\ea2a';
		}

		 .iconfont-web:before {
			content: '\ea2b';
		}

		 .iconfont-work_history:before {
			content: '\ea2c';
		}

		 .iconfont-work_outline:before {
			content: '\ea2d';
		}

		