.section-top-home {
    padding-top: 128px;
    padding-bottom: 40px;
    background: url(images/graphics/bg-top.jpg) bottom right;
    color: #C2EAF4;
    margin-top: -108px;
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    &__left {
        width: calc(100% - 576px);
        padding-right: 50px;
        margin-top: 100px;
    }
    &__right {
        width: 576px;
    }
    .content {
        .lbl {
            margin-bottom: 16px;
            font-weight: bold;
            font-size: 24px;
        }
        .title {
            font-size: 56px;
            font-weight: bold;
            margin-bottom: 24px;
            .key {
                display: block;
                color: #FAD50B;
            }
        }
        .des {
            margin-bottom: 40px;
        }
        .btn-default {
            height: 74px;
            font-size: 24px;
        }
    }
    .new-post {
        border-radius: 16px;
        background: rgba(197, 242, 249, 0.60);
        padding: 8px 16px;
        font-size: 14px;
        color: #073D47;
        display: flex;
        align-items: center;
        span {
            font-weight: bold;
            margin-right: 0.5rem;
        }
    }
}