@font-face {
    font-family: 'BROmegaVN';
    src: url('fonts/BROmegaVN/fontsBROmegaVN-Regular.eot');
    src: url('fonts/BROmegaVN/BROmegaVN-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BROmegaVN/BROmegaVN-Regular.woff2') format('woff2'),
        url('fonts/BROmegaVN/BROmegaVN-Regular.woff') format('woff'),
        url('fonts/BROmegaVN/BROmegaVN-Regular.ttf') format('truetype'),
        url('fonts/BROmegaVN/BROmegaVN-Regular.svg#BROmegaVN-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BROmegaVN';
    src: url('fonts/BROmegaVN/BROmegaVN-Bold.eot');
    src: url('fonts/BROmegaVN/BROmegaVN-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BROmegaVN/BROmegaVN-Bold.woff2') format('woff2'),
        url('fonts/BROmegaVN/BROmegaVN-Bold.woff') format('woff'),
        url('fonts/BROmegaVN/BROmegaVN-Bold.ttf') format('truetype'),
        url('fonts/BROmegaVN/BROmegaVN-Bold.svg#BROmegaVN-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}