.topnav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all .2s ease-in-out;
    background: #fff;
    border-bottom: 1px solid rgba(107, 119, 154, 0.15);
    &.sticky {
        background-color: #fff;
        border-bottom: 1px solid rgba(107, 119, 154, 0.15);
        box-shadow: 0 2px 15px rgba(0, 0, 0, .09);
    }
    .flex_row {
        align-items: center;
        height: 108px;
        justify-content: space-between;
    }
    .logo-mobile {
        display: none;
    }
    .logo {
        margin-right: 70px!important;
        width: 160px;
        a {
            padding-right: 0!important;
        }
        .logo-dark {
            display: block;
        }
        .logo-white {
            display: none;
        }
    }
    .vibeji-ham {
        width: 35px;
        height: 35px;
        position: absolute;
        right: 15px;
        top: 22px;
        transform: rotate(0);
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;
        margin-right: 0 !important;
        svg{
            color: #17677B;
            width: 35px;
            height: 35px;
        }
    }
    .flex_right {
        align-items: center;
    }
    .right_menu {
        display: flex;
        .btn-default {
            margin-left: 16px;
            height: 52px;
            padding: 0 28px;
            font-size: 1rem;
        }
    }
    .main-menu {
        .nav {
            align-items: center;
            &>li {
                margin-right: 25px;
                display: flex;
                padding: 11px 0;
                .link {
                    font-size: px_to_rem(20px);
                    font-weight: 400;
                    padding-right: 15px;
                    line-height: 40px;
                    display: flex;
                    border-radius: 6px;
                    position: relative;
                    color: #A9A9A9;
                }
                &.active {
                    .link {
                        color: #229CBA;
                    }
                }
                .close-menu{
                    display: none;
                }
                .sub_menu {
                    position: relative;
                    font-size: 0;
                    display: block;
                    &::before {
                        content: "";
                        border-bottom: 1px solid rgba(34, 43, 69, 0.3);
                        border-right: 1px solid rgba(34, 43, 69, 0.3);
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        right: 0px;
                        top: 15px;
                        transform: rotate(45deg);
                    }
                }
                &.default {
                    position: relative;
                    .level2 {
                        min-width: 200px;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
                        a {
                            display: block;
                            font-size: px_to_rem(18px);
                            padding: 10px;
                            border-bottom: 1px solid #dfdfdf;
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                        @media (max-width: 991px) {
                            box-shadow: none;
                            padding-left: 25px;
                            padding-bottom: 5px;
                            a {
                                border-bottom: 0;
                            }
                        }
                    }
                }
                &.btn-mobile {
                    display: none;
                }
                &:last-child {
                    margin-right: 0
                }
            }
        }
        @media (min-width: 992px) {
            .level2 {
                opacity: 0;
                filter: alpha(opacity=0);
                visibility: hidden;
                overflow: hidden;
                position: absolute;
                top: 100%;
                left: 10px;
                margin: 0;
                z-index: 10;
                background: #fff;
                text-align: left;
                padding: 0 10px;
                transition-duration: 200ms;
                transition-property: opacity, top, visible;
                transition-timing-function: cubic-bezier(.7, 1, .7, 1);
                .bg-white {
                    padding: 48px 0;
                    background: #fff;
                    position: relative;
                    z-index: 10;
                }
                [class*='grid__'] {
                    column-gap: 40px;
                    row-gap: 40px;
                }
                .itemt {
                    display: flex;
                    flex-wrap: wrap;
                    .ava {
                        background: #fff;
                        border-radius: 10px;
                        position: relative;
                        width: 56px;
                        height: 56px;
                        img {
                            max-height: 95%;
                            max-width: 95%;
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                    .content {
                        width: 300px;
                        width: calc(100% - 56px);
                        padding-left: 24px;
                        h3 {
                            font-size: px_to_rem(16px);
                            font-weight: bold;
                        }
                        p {
                            color: #555770;
                            font-size: px_to_rem(13px)
                        }
                    }
                }
            }
            .nav {
                &>li {
                    &:hover {
                        .level2 {
                            opacity: 1;
                            filter: alpha(opacity=100);
                            visibility: visible;
                            top: 50px;
                        }
                    }
                }
            }
        }
    }
    &.home {
        background: none;
        border-bottom: 0;
        &.sticky {
            background-color: #115061;
            border-bottom: 1px solid rgba(107, 119, 154, 0.15);
            box-shadow: 0 2px 15px rgba(0, 0, 0, .09);
        }
        .logo-dark {
            display: none;
        }
        .logo-white {
            display: block;
        }
        .vibeji-ham {
            svg{
                color: #fff;
            }
        }
        .main-menu .nav>li .link {
            color: #C2EAF4;
        }
    }
    @media (max-width: 1310px) {
        .main-menu {
            .nav {
                &>li {
                    margin-right: 10px;
                    .link {
                        font-size: px_to_rem(18px);
                    }
                    &.logo {
                        margin-right: 40px!important;
                    }
                }
            }
        }
        .right_menu {
            .btn-default {
                height: 45px;
            }
        }
    }
    @media (max-width: 1199px) {
        .logo {
            width: 145px;
        }
        .flex_row {
            height: 80px;
        }
        .main-menu {
            .nav {
                &>li {
                    margin-right: 15px;
                    .link {
                        font-size: px_to_rem(18px);
                    }
                    &.logo {
                        margin-right: 30px !important;
                    }
                }
            }
        }
        .right_menu {
            .btn-default {
                padding: 0 15px;
                margin-left: 6px;
            }
        }
    }
    @media (max-width: 991px) {
        .logo-mobile {
            display: block;
            img {
                width: 146px;
            }
            &.open {
                img {
                    display: none;
                }
                .logo-dark {
                    display: block;
                }
            }
        }
        .vibeji-ham {
            display: block;
        }
        .main-menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100% !important;
            background-color: #fff !important;
            padding-bottom: 20px;
            overflow-y: scroll;
            color: #4d4d4d;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            z-index: 100;
            .level2 {
                display: none;
                [class*='grid__'] {
                    grid-template-columns: repeat(1, 1fr);
                    padding: 5px 1px 15px 15px;
                }
                .itemt {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .ava {
                        background: #F5F7FA;
                        border-radius: 10px;
                        position: relative;
                        width: 40px;
                        height: 40px;
                        img {
                            max-height: 95%;
                            max-width: 95%;
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                    .content {
                        width: calc(100% - 40px);
                        padding-left: 15px;
                        h3 {
                            font-size: px_to_rem(14px);
                            margin-bottom: 0;
                        }
                        p {
                            display: none
                        }
                    }
                }
            }
            .nav {
                display: block;
                &>li {
                    padding: 0;
                    margin-right: 0;
                    display: block;
                    position: relative;
                    margin-bottom: 10px;
                    .link {
                        display: block;
                        width: 100%;
                        padding: 0 16px;
                        position: relative;
                        border-radius: 0;
                        color: #A9A9A9!important;
                        font-size: 20px;
                        &::before {
                            display: none;
                        }
                    }
                    &.logo {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        border-bottom: 1px solid #E9E9E9;
                        padding: 16px;
                        margin-bottom: 20px;
                        img {
                            width: 145px;
                        }
                        .logo-white {
                            display: none;
                        }
                        .logo-dark {
                            display: block;
                        }
                        .close-menu {
                            color: #17677B;
                            display: block;
                            svg{
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                    &.btn-mobile {
                        display: block;
                        padding: 0 16px;
                        .btn-default {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                    .sub_menu {
                        display: block;
                        font-size: px_to_rem(22px);
                        width: 40px;
                        text-align: center;
                        line-height: 40px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        &::before {
                            display: none
                        }
                    }
                }
            }
            &.open {
                right: 0;
            }
        }
        .right_menu {
            display: none;
        }
    }
    @media (max-width: 576px) {
        .cart {
            font-size: 0;
            border-radius: 50%;
            width: 42px;
            padding: 0;
            justify-content: center;
            .icon {
                margin-right: 0;
            }
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: -1;
    opacity: 0;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    &.open {
        opacity: 1;
        z-index: 9;
    }
}