.hidden-pc {
    display: none;
}

@media (min-width: 1366px) {
    .container {
        max-width: 1304px;
    }
}

@media (max-width: 1304px) {
    .mb80 {
        margin-bottom: 60px;
    }
    .btn-default {
        font-size: 1rem;
    }
}

@media (max-width: 1199px) {
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-prev {
        left: 0;
    }
    .overflow {
        overflow: hidden;
    }
}

@media (max-width: 991px) {
    .box_stream {
        width: 100%;
        padding-right: 0
    }
    .box_300 {
        width: 100%;
        display: none;
    }
    .mb80 {
        margin-bottom: 40px!important;
    }
    .mb60 {
        margin-bottom: 30px!important;
    }
    .mb40 {
        margin-bottom: 30px!important;
    }
    .mt60 {
        margin-top: 30px!important;
    }
    .padding_40 {
        padding: 20px 0;
    }
    .line-bottom.mb40 {
        margin-bottom: 20px!important;
    }
}

@media (max-width: 576px) {
    .hidden-mb {
        display: none;
    }
    .hidden-pc {
        display: block;
    }
}